.login{
    padding-block: 75px;
}

.error{
    background-color: var(--expense-primary-color);
}

.user-name,
.user-password,
.user-email,
.recover-username .input{
    border-radius: 10px;
}

.recover-username,
.recover-password,
.recover-success,
.recover-password-success,
.recover-password-reset,
.recovery-password-reset-success{
    padding-top: 75px;
}

.logo{
    max-width: 300px;
}

.disclaimer-container{
    border: 3px solid var(--nav-light);
    border-radius: 20px;
    padding: 20px;
    color: var(--primary-color);
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.disclaimer-banner{
    text-transform: uppercase;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--nav-light);
    padding-bottom: 10px;
    color: var(--primary-color);
    font-weight: 500;
}

.disclaimer{
    text-align: left;
}

.loading-container{
    position: absolute;
    padding: 100px;
    color: var(--primary-color);
    border: 3px solid var(--nav-light);
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: var(--background-color);
    border-radius: 50px;
    box-shadow: 0 0 30px var(--income-primary-color);
}

@media only screen and (min-width: 768px) {
    
    .btn {
        transition: all .5s ease;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        font-family:'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        font-size: 17px;
        background-color : var(--background-color);
        padding: 10px;
        margin-bottom: 10px;
        outline: none;
        border-radius: 10px;
    }
    .btn:hover,
    .btn:focus {
        color: #001F3F;
        background-color: var(--primary-color);
    }
    .btn-recovery {
        transition: all .5s ease;
        color: var(--income-primary-color);
        font-family:'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        font-size: 1rem;
        background-color : transparent;
        padding: 10px;
        margin-bottom: 10px;
        outline: none;
        border-radius: 10px;
    }
    .btn-recovery:hover,
    .btn-recovery:focus{
        color: var(--primary-color);
        background-color: transparent;
    }

}


