.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Standard CSS Layout */

.header{
  color: var(--primary-color);
  margin-bottom: 40px;
}

.container{
  width: calc(100% - 80px);
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.input {
  text-align: center;
  margin-bottom: 10px;
  height: 40px;
  border: none;
  background-color: var(--nav-light);
  color: var(--text-dark);
  border-radius: 0;
}

.input::placeholder {
  color: var(--text-dark);
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-container > * {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.logo {
  width: 50%;
  max-width: 400px;
}

.btn-recovery {
  background-color: var(--background-color);
  border: none;
  color: var(--income-primary-color);
}

.recovery {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  border: none;
  background-color: var(--background-color);
}


.input:active,
.input:focus{
    outline: none;
    /* border: 2px solid var(--income-primary-color); */
    background-color: rgb(222, 222, 222);
}
